# images
omniglot_realfake/
tiny-imagenet-200/
tiny-imagenet-200.zip
*.json

file_editor.py
foo.txt

# pycache
__pycache__/

# logging
lightning_logs/
wandb/
*sandbox*/
*wandb_logs*/
psychophysics*
vit_imagenet*
wanb/
vit_debug*
vit_*
ViT-imagenet-DEBUG-imagenet/
ViT*
VGG*
.__afs*


ppV*

# models
*.pth

imagenet*

# env
nas_env/
